

body{
  font-family: Helvetica;
}

h2{
  font-weight: 600;
  font-size: 25px;
}
h3{
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 700px){
  .buscador{
    width:100%;
    padding-left:30%;
    padding-right:10%;
  }}
@media (min-width: 700px){
  .buscador{
    width:100%;
    padding-left:20%;
    padding-right:20%;
  }}
@media (max-width: 700px){
  .paddingMobile{
    padding-left:25%;
  }
}
@media (max-width: 700px){
  .paddingRelacionados{
    padding-left:20%;
  }
}
@media (max-width: 700px){
.paddingDefaul{
  padding-left:20%;
}}
@media (min-width: 700px){
  .paddingDefaul{
    padding-left:15%;
  }}
  
@media (max-width: 700px){
.scrollRelacionados{
  height: 50vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  text-align: center;
}}
@media (min-width: 700px){
  .scrollRelacionados{
    height: 70vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    text-align: center;
  }}
.verPerfil {
  color: #0069CC;
}
@media (min-width: 700px){
.scrollComentarios{
  height: 55vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
}}
@media (max-width: 700px){
  .scrollComentarios{
    height: 33vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
  }}
.btnAccesoRegistro{
  background-color: #0069CC;
  color:white;
}
.btnAccesoRegistro:hover{
  background-color: #00284D;
  color :white;
}
.meInteresa{
  background-color: #0069CC;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}
.meInteresa:hover{
  background-color: #00488C;
}
.yaNoInteresa{
  background-color: #DA291C;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}
.yaNoInteresa:hover{
  background-color: #be3a34;
}
.btnEliminar{
  background-color: #DA291C;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  margin-right: 20px;
}
.btnEliminar:hover{
  background-color: #be3a34;
  color: white;
}
.btnEditar{
  background-color: #0069CC;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
}
.btnEditar:hover{
  background-color: #00488C;
}
.btnContactar{
  background-color: #0069CC;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  margin-right: 20px;
}
.btnContactar:hover{
  background-color: #00284D;
  color :white;
}

.btnPrimario{
  background-color: #0069CC;
  color:white;
  margin-top: 10px;
}
.btnPrimario:hover{
  background-color: #00284D;
  color :white;
}

input[type="file"]{
  display: none;
}

.btnFile{
  color: white;
  background-color: #0069CC;
  margin-top: 10px;
}
.btnFile:hover{
  color: white;
  background-color: #00284D;
}
.eliminaComentario{
  border: none;
  outline: none;
  background: none;
  color: #DA291C;
}
.eliminaComentario:focus{
  outline: none;
}
.txtNegrita{
  font-weight: 600;
}
.numInteresados{
  font-weight: 600;
  color: #001529;
}
.prodSeleccionado{
  text-align: center;
  width: 100%;
}

.goTop{
  position:fixed;
  border: none;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
 background-color: transparent;
}
.goTop:focus{
  outline: none;
}